.app-tool-bar-container {
  border: 1px solid #f3f3f3;
  background-color: #f3f3f3;
  margin-bottom: 3px;
  padding: 3px 3px;
  width: 100%
}

.app-tool-bar-container ul {
  padding: 0px;
  margin: 3px;
  width: 100%
}

.app-tool-bar-container ul li {
  display: inline-block;
  list-style: none;
  padding: 0px;
}

.app-tool-bar-container ul li button {
  width: 25px;
  height: 25px;
  border: 0px none;
  cursor: pointer;
  background-color: transparent;
}

.app-tool-bar-container ul li button:focus,
.app-tool-bar-container ul li button:visited {
  box-shadow: none;
  outline: none;
}

.app-tool-bar-container ul li button img {
  width: 25px;
  height: 25px;
}
