<!-- <dx-form #form 
        [(formData)]="personalInfo" 
        [labelLocation]="top" 
        [colCount]="3">

  <dxi-item caption="Nickname" dataField="nick"></dxi-item>
  <dxi-item caption="Nombre" dataField="firstName"></dxi-item>
  <dxi-item caption="Apellido" dataField="lastName"></dxi-item>
  <dxi-item caption="Fecha de nacimiento" dataField="BirthDate" editorType="dxDateBox"></dxi-item>
  <dxi-item caption="Género" dataField="gender" editorType="dxSelectBox" [editorOptions]="{ items: gender }"></dxi-item>

  <dxi-item caption="Tipo Documento" dataField="documentType" editorType="dxSelectBox" [editorOptions]="{ items: documentType }"></dxi-item>
  <dxi-item caption="No. Documento" dataField="documentId"></dxi-item>
  <dxi-item caption="Ciudad Expedición" dataField="documentExpredition"></dxi-item>

  <dxi-item caption="Compañía" dataField="companyName"></dxi-item>
  <dxi-item caption="Nit" dataField="companyId"></dxi-item>

  <dxi-item caption="País" dataField="country"></dxi-item>
  <dxi-item caption="Ciudad" dataField="city"></dxi-item> 

  <dxi-item caption="Dirección" dataField="Address"></dxi-item>
  <dxi-item caption="Teléfono" dataField="Phone" ></dxi-item>
</dx-form> -->
<div class="dx-fieldset">
  <div class="dx-field">
    <div class="dx-field-label">First Name</div>
    <div class="dx-field-value">
    </div>
  </div>
</div>