<div class="home-container">
  <div class="home-content d-flex justify-content-start">
    <div class="info-panel-container">
      <img class="user-photo stagger-animated" src="https://js.devexpress.com/Demos/DXSK8/DXSK8.OData/Images/Customers/petersmith.png"
        style="transition: none; width:160px !important">

      <div class="home-login-content stagger-animated" style="transition: none;">
        <div class="user-address text-muted">Sr.</div>
        <div class="user-name">Alejandro</div>
        <div class="user-address">Bogotá, CO</div>
      </div>
    </div>
    <div class="qrImage ml-auto p-2">
      <img src="assets/img/descarga.png" align="right" style="transition: none; width:160px !important">
    </div>
  </div>
</div>